// styled component Variable 동일하게.

// NanumGothic 걷어내기

// Font Family
$size: 16px;
$weight:550;
$font: "NanumGothic";
$fontB: "NanumGothicBold";
$fontL: "NanumGothicLight";

$fontFamily: ($font,$fontB,$fontL);
@each $name in $fontFamily{
  @include fontFace($name);
}

// 새로운
$NfontFamily: ('SUITE-Light','SUITE-Regular','SUITE-Medium','SUITE-SemiBold','SUITE-Bold','SUITE-ExtraBold','SUITE-Heavy');
@each $name in $NfontFamily{
  $i: index($NfontFamily, $name);
  @include NfontFace($name, $i+2);
}

// Break Point (Desktop First 기준 내림차순 설정)
$maxPc: 1920px;
$pc: 1440px;
$table: 1140px;
$mo: 768px;
$onlyMo: 450px;

// Color 
$whiteColor: #fff;
$blackColor: #000;
$subBlack: #222222;
// Point Color
$color1:#3cb062;
$color2:#f5b800;
$color3:#685ef8;
$color4:#e76647;
// bg Color 
$bgColor1: #113536;
$titBgColor: #f8f9fc;
// Text Color
$textColor : #191f28;
$subTextColor: #868686;
// Line Color
$lineColor: #dbdbdb;

// media -> _mixin.scss

// transition
$transitionB: all .3s;

