@import "./main";
body { font-family: 'SUIT',sans-serif; font-weight:500; }
.blind {
  position:absolute;
  top:-99999px;
  left:-9999px;
  opacity:0;
  text-indent:-9999px;
}
.skip-nav {
  display: none;
}
button {
  border:none;
  background:transparent;
  cursor: pointer;
  color: $textColor;
}
a{
  color: $textColor;
  text-decoration:none;
}