@import "./main";
:root {
  --font-NanumGithic: 'NanumGothic';
  --font-NanumGithicB: 'NanumGothicBold';
  --font-NanumGithicL: 'NanumGothicLight';
}
.skip-nav {
  display: none;
}
body {
  font-size:16px;
}