@import "./main";
:root {
  --font-NanumGithic: 'NanumGothic';
  --font-NanumGithicB: 'NanumGothicBold';
  --font-NanumGithicL: 'NanumGothicLight';
}
body { font-family:"NanumGothic", sans-serif; }
.blind {
  position:absolute;
  top:-99999px;
  left:-9999px;
  opacity:0;
  text-indent:-9999px;
}
.skip-nav {
  display: none;
}
button {
  border:none;
  background:transparent;
  cursor: pointer;
  color: $textColor;
}
a{
  color: $textColor;
  text-decoration:none;
}