// styled component Variable 동일하게.

// Break Point (Desktop First 기준 내림차순 설정)
$maxPc	: 1920px;
$pc : 1440px;
$table	: 1080px;
$mo		: 768px;

// Color 
$whiteColor: #fff;
$blackColor: #000;

// Point Color
$color1:#3cb062;
$color2:#f5b800;
$color3:#685ef8;
$color4:#e76647;

// Text Color
$textColor : #191f28;
$subTextColor: #868686;

// Line Color
$lineColor: #dbdbdb;

// Font Family
$font: "NanumGothic";
$fontB: "NanumGothicBold";
$fontL: "NanumGothicLight";
$fontFamily: ($font,$fontB,$fontL);
@each $name in $fontFamily{
  @include fontFace($name);
}



