@import "./font.scss";
@import "./var.scss";
@import "./mixin.scss";
:root {
  --font-NanumGithic: 'NanumGothic';
  --font-NanumGithicB: 'NanumGothicBold';
  --font-NanumGithicL: 'NanumGothicLight';
}
