@import "assets/scss/main.scss";

.guide {
  &__top {
    padding:15px 20px;
    border-radius:5px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-left:5px solid $color1;
    background:$titBgColor;
  }
  &__cont {
    margin-top:10px;
    padding:20px;
    border-radius:5px;
    border:1px solid $lineColor;
  }
  &__info {
    &__desc {
      margin-top:15px;
    }
  }
  .desc{
    margin-top:10px;
    font-size:14px;
    &:first-child {
      margin-top:10px;
    }
  }
  .color {
    &__lists {
      gap:20px;
      &-item {
        width:112.25px;
      }
    }
    .btn {
      transition: $transitionB;
      &:hover, &:focus {
        background:$subBlack;
        color:$titBgColor;
      }
    }
    &__info {
      padding:10px;
      border:1px solid $lineColor;
      border-top:none;
    }
    &-name {
      margin-top:5px;
      font-size:14px;
    }
    &-code {
      font-size:14px;
      font-weight:600;
    }
  }
  .breakpoint{
    .screen{
      margin:10px;
      text-align:center;
      &-line{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 60px;
        height: 60px;
        border-left: 1px solid #b4b4b4;
        border-right: 1px solid #b4b4b4;
        text-align: center;
        &::before {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background: #262626;
          transform: translateY(-50%);
          content: "";
        }
      }
      .value {
        position:relative;
        z-index:1;
        background: rgba(255,255,255,0.8);
      }
      .tit{ 
        display:block;
        margin-top:5px;
        font-size:14px;
      }
    }
  }
  .font {
    &__lists {
      gap:20px;
    }
    .btn {
      padding:5px 10px;
      border:1px solid $lineColor;
      transition:$transitionB;
      &:hover, &:focus { 
        border-color:$color1;
        background:$color1;
        color:$whiteColor;
      }
    }
  }
  
}

@include mo {
  .guide {
    $gap:15px;
    .color {
      &__lists {
        gap:$gap;
        &-item {
          width:calc((100% - #{$gap*2}) / 3);
        }
      }
      &__info {
        padding:10px;
      }
      &-name {
        margin-top:5px;
        font-size:14px;
      }
      &-code {
        font-size:14px;
        font-weight:600;
      }
    }
    .font {
      &__lists {
        gap:$gap;
        &-item {
          width:calc((100% - #{$gap * 2}) / 3);
        }
      }
    }
    
  }
}

@include onlyMo {
  .guide {
    $gap:10px;
    .color {
      &__lists {
        gap:$gap;
        &-item {
          width:calc((100% - #{$gap}) / 2);
        }
      }
      &__info {
        padding:10px;
      }
      &-name {
        font-size:14px;
      }
      &-code {
        font-size:14px;
        font-weight:600;
      }
    }
    .font {
      &__lists {
        gap:$gap;
        &-item {
          width:100%
        }
      }
    }
    
  }
}