@import "assets/scss/common.scss";


.header {
  position:relative;
  z-index:900;
  padding:0 30px;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.25);
  &-logo {
    overflow:hidden;
    position:relative;
    width:80px;
    height:50px;
    &::before, &::after {
      display:block;
      position:absolute;
      top:50%;
      width:35px;
      height:35px;
      border-radius:50%;
      transform:translateY(-50%);
      content:"";
    }
    &::before {
      left:20px;
      background:#fff;
      border:1px solid $color2;
    }
    &::after{
      left:0;
      background:$color1;
    }
    .header-title {
      display:inline-block;
      position:absolute;
      z-index:1;
      top:50%;
      left:0;
      width:50px;
      height:2px;
      background:#fff;
      transform: translateY(-50%);
      &::before{
        position:absolute;
        top:50%;
        left:-50%;
        width:50%;
        height:2px;
        background:#fff;
        transform: translateY(-50%);
        content:"";
      }
      &::after {
        position:absolute;
        top:50%;
        left:0;
        width:10%;
        height:2px;
        background:$color3;
        transform: translateY(-50%);
        animation: logo_bar 2s ease infinite;
        content:"";
      }
      @keyframes logo_bar {
        0%{left:-20%}
        100%{left:50%}
      }
      .tit {
        display:inline-block;
        position:absolute;
        z-index:2;
        top:50%;
        left:13px;
        width:50px;
        padding:2px 3px;
        border-top-left-radius:4px;
        border-bottom-left-radius:4px;
        background:#fff;
        font-size:14px;
        font-family: 'NanumGothic';
        box-shadow:4px 2px 2px rgba(0, 0, 0, 0.25);
        transform: translateY(-50%);
        color:#000;
      }
      
    }
  }
  &__nav {
    &-btn {
      display:none;
    }
  }
  &-link {
    display:inline-block;
    padding:15px;
    color:#000;
    cursor:pointer;
    &.active {
      font-weight:600;
      color: $color1;
    }
  }
  &__fix {
    $iconW:2px;
    ul {
      display: flex;
      gap:10px;
    }
    .nav-direction {
      .nav-type {
        display:inline-block;
        position:relative;
        width:20px;
        height:20px;
        border:1px solid #000;
        border-radius:4px;
        transition: all .3s;
        vertical-align: top;
        cursor:pointer;
        &::before, &::after {
          position:absolute;
          background:#000;
          content:"";
        }
        &::before {
          top:10%;
          left:10%;
          width:80%;
          height:$iconW;
        }
        &::after{
          top:10%;
          left:10%;
          width:$iconW;
          height:80%;
        }
        .txt {
          display:inline-block;
          font-size:0;
          text-indent:-9999px;
          &::after{
            position:absolute;
            top:calc(20% + #{$iconW});
            left:calc(20% + #{$iconW});
            width:calc(70% - #{$iconW});
            height:calc(70% - #{$iconW});
            border-radius:2px;
            background:#000;
            content:"";
          }
        }
      }
    }
    .members {
      .login {
        display:inline-block;
        position:relative;
        width:20px;
        height:20px;
      }
    }
  }
  &.fixed {
    position:fixed;
    top:0;
    width:100%;
    background:$whiteColor;
  }
}
.column {
  .header{
    height:auto;
    padding:0 0 0 30px;
    &__inner {
      display:block;
    }
    &-logo{
      position:relative;
      z-index:901;
    }
    &__nav {
      &-menu {
        ul{
          flex-direction: column;
        }
      }
    }
    &__fix {
      display:flex;
      justify-content: flex-end;
      position:fixed;
      top:0;
      right:0;
      width:100%;
      height:50px;
      max-width:1920px;
      padding:0 30px;
      background:#fff;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.25);
      .fix-lists {
        align-items: center;
      }
      .nav-direction {
        .nav-type {
          &::after{
            display:none;
          }
          .txt {
            &::after{
              top:calc(20% + $iconW);
              left:10%;
              width:80%;
              height:calc(70% - $iconW);
            }
          }
        }
      }
    }
  }
}
@include pc {
  .header {
    &__inner{ 
      display:flex;
      align-items: center;
      gap:50px;
    }
    &__nav {
      &-menu {
        flex-grow:1;
        ul {
          display:flex;
          gap: 15px;
        }
      }
    }
    &-link {
      min-width:70px;
    }
  }
}
@include mo {
  .header {
    padding: 0 15px;
    &__nav {
      &-menu{
        display:none;
        position:fixed;
        z-index:999;
        top:50px;
        left:0;
        width:100%;
        height:100%;
        background:$whiteColor;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
      }
      &-btn {
        display:block;
        overflow:hidden;
        position:absolute;
        z-index:10;
        top:50%; 
        right:15px;
        width:30px;
        height:20px;
        border:none;
        border-radius:0;
        text-indent:-9999px;
        transform:translateY(-50%);
        &::after {
          position:absolute;
          top:50%;
          left:50%;
          width:100%;
          height:2px;
          background:$blackColor;
          transform: translate(-50%, -50%);
          transition:all .3s;
          content:"";
        }
        & > span {
          &::before, &::after {
            position:absolute;
            top:0px;
            left:50%;
            width: 100%;
            height:2px;
            background: $blackColor;
            transform: translateX(-50%);
            transition:all .3s;
            content:"";
          }
          &::after{ 
            top:auto;
            bottom:0px;
            transform: translateX(-50%);
          }
        }
      }
    }
    &-link {
      display:block;
      padding:15px;
      border-top:1px solid $lineColor;
    }
    &.fixed {
      .open {
        .header__nav-menu {
          display:block;
          // animation: menuOpen .3s both;
          // @keyframes menuOpen {
          //   0%{
          //     left:-110%;
          //   }
          //   100%{
          //     left:0;
          //   }
          // }
        }
        .header__nav-btn {
          &::after { 
            left:105%;
            background:$color1;
            transform:translateX(0);
          }
          & > span {
            &::before, &::after { 
              top:50%;
              left:50%;
              background:$color1;
              transform: translate(-50%,-50%) rotate(45deg);
            }
            &::after {
              transform: translate(-50%,-50%) rotate(-45deg);
            }
          }
        }
      }
      
    }
  }
}
