@import "assets/scss/common.scss";

.profile {
  $gap: 20px;

  position:relative;
  .visual{
    position:relative;
    min-height:300px;
    padding:100px 30px 30px;
    &::after {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:200px;
      background:$color2;
      content:"";
    }
    &-box {
      position:relative;
      z-index:2;
      width:100%;
      max-width:800px;
      margin:0 auto;
      border-radius:10px;
      background:#fff;
      box-shadow:0px 0px 10px rgba(0,0,0,.2);
      text-align:center;
    }
    &-info {
      display:flex;
      flex-direction: column;
      padding:75px 30px 30px;
      .name{
        margin-top:30px;
        font-size:24px;
        font-family: $fontB;
      }
      .job {
        display:inline-block;
        margin-top:20px;
        padding-top:20px;
        border-top:1px solid $lineColor;
      }
    }
    &-img {
      overflow:hidden;
      position:absolute;
      top:0;
      left:50%;
      width:150px;
      height:150px;
      background:#fff;
      box-shadow: 0px 2px 5px rgba(0,0,0,.25);
      border-radius:50%;
      transform: translate(-50%, -50%);
      transition: all .5s;
    }
  }
  .contact {
    margin-top:20px;
    & > ul {
      display:flex;
      justify-content: center;
      & > li {
        position:relative;
        margin-left:10px;
        padding-left:10px;
        &::before {
          position:absolute;
          top:50%;
          left:0;
          width:1px;
          height:80%;
          background:$blackColor;
          transform:translateY(-50%);
          content:"";
        }
        &:first-child {
          &::before{
            display:none;
          }
        }
      }
    }
    .txt {
      display:flex;
      align-items: center;
      position:relative;
      font-size:14px;
      color:$blackColor;
      & > i {
        margin-right:5px;
      }
    }
  }
  &__box { 
    padding:0 30px;
  }
  .skils {
    &__lists {
      display:flex;
      flex-wrap:wrap;
      gap: $gap;
      &-item {
        width: calc((100% - #{$gap * 3 })/ 4);
      }
    }
    &__box {
      width:100%;
      height:100%;
      padding:10px;
      border-radius:5px;
      .desc {
        margin-top:10px;
        p {
          position:relative;
          padding-left:8px;
          font-size:14px;
          line-height:18px;
          color:$textColor;
          & + p {
            margin-top:5px;
          }
          &::after {
            position:absolute;
            top:6px;
            left:2px;
            width:2px;
            height:2px;
            border-radius:50%;
            background:$color1;
            content:"";
          }
        }
      }
    }
    .porgress {
      margin-top:10px;
    }
  }
  .portfolio{
    &__lists {
      display: flex;
      flex-wrap:wrap;
      gap:$gap;
      &-item{
        width: calc((100% - #{$gap})/ 2);
      }
    }
    &__box{
      height:100%;
      padding:10px;
      border-radius:5px;
      .title {
        font-size:18px;
        font-family: $fontB;
      }
      .txt {
        color:$textColor;
      }
      .date{
        display:flex;
        margin-top:10px;
        font-size:14px;
        color:$subTextColor;
        .start{
          position:relative;
          margin-right:10px;
          padding-right:20px;
          &::after {
            position:absolute;
            top:50%;
            right:0;
            width:15px;
            height:15px;
            transform: translateY(-50%);
            line-height:1;
            content:"➡️"
          }
        }
      }
      .member{
        display:flex;
        margin-top:10px;
        font-size:14px;
        .contribution {
          position:relative;
          margin-left:10px;
          padding-left:10px;
          &::after {
            position:absolute;
            top:50%;
            left:0;
            width:1px;
            height:90%;
            background:$lineColor;
            transform: translateY(-50%);
            content:"";
          }
        }
      }
      .review {
        margin-top:10px;
        color:$textColor;
      }
    }
  }
  .thank{
    margin-top:100px;
  }
}

@include mo {
  .profile { 
    $gap: 10px;
    .contact {
      margin-top:20px;
      & > ul {
        flex-direction: column;
        & > li {
          position:relative;
          margin:3px;
          padding:0;
          &::before {
            display:none;
            content:"";
          }
          &:first-child {
            margin-top:0;
          }
        }
      }
      .txt {
        justify-content: center;
      }
    }
    &__box { 
      padding:0 15px;
    }
    .skils {
      &__lists {
        gap: $gap;
        &-item {
          width: calc((100% - #{$gap})/ 2);
        }
      }
      &__box {
        width:100%;
        height:100%;
        padding:10px;
        border-radius:5px;
        .desc {
          margin-top:10px;
          p {
            position:relative;
            padding-left:8px;
            font-size:14px;
            line-height:18px;
            color:$textColor;
            & + p {
              margin-top:5px;
            }
            &::after {
              position:absolute;
              top:6px;
              left:2px;
              width:2px;
              height:2px;
              border-radius:50%;
              background:$color1;
              content:"";
            }
          }
        }
      }
      .porgress {
        margin-top:10px;
      }
    }
    .portfolio{
      &__lists {
        &-item{
          width: 100%;
        }
      }
      &__box{
        height:100%;
        padding:10px;
        .title {
          font-size:16px;
        }
        .review {
          margin-top:10px;
          color:$textColor;
        }
      }
    }
    .thank{
      margin-top:100px;
    }
  }
}

@include onlyMo {
  .profile { 
    .skils {
      &__lists {
        &-item {
          width: 100%;
        }
      }
    }
  }
  
}
