@import "assets/scss/common.scss";

.record {
  &__content {
    padding:50px;
  }
  &__tab {
    &-list {
      display:flex;
    }
    &-item {
      margin-left:10px;
      &:first-child {
        margin-left:0;
      }
    }
  }
  &__cont {
    margin-top:30px;
  }
}




.study {
  position:relative;
  width: 100%;
  max-width: 450px;
  padding: 50px;
  border: 1px solid #dbdbdb;
  margin: 50px auto 0;
  .box {
    .desc {
      margin-top:15px;
      font-size: 14px;
      color: $subTextColor;
    }
    &__cont { 
      margin-top:10px;
      p {
        font-size:14px;
        & + p {
          margin-top:8px;
        }
      }
      &-tit{
        margin-bottom:10px;
        padding-bottom:10px;
        border-bottom:1px solid $lineColor;
        font-weight:600;
      }
    }
  }
}

button {
  border:1px solid #000;
  border-radius:3px;
  padding:2px;
  cursor:pointer;
}

