@font-face {
  font-family: Pretendard;
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'GmarketSans';
  src: url('./assets/fonts/GmarketSansTTFLight.woff2') format('woff2'),
       url('./assets/fonts/GmarketSansTTFLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('./assets/fonts/GmarketSansTTFMedium.woff2') format('woff2'),
       url('./assets/fonts/GmarketSansTTFMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('./assets/fonts/GmarketSansTTFBold.woff2') format('woff2'),
       url('./assets/fonts/GmarketSansTTFBold.woff') format('woff');
  font-weight: 700; 
  font-style: normal;
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,div,span,table,th,td,form,fieldset,legend,input,textarea,button,select,svg,i,label,strong,code{margin:0; padding:0; font-family: 'Pretendard',sans-serif; box-sizing:border-box;}
img,fieldset{border:0}
em,address,i{font-style:normal;}
table{border-collapse:collapse;}
ul li, 
ol li, li {
  list-style:none;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}