body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,div,span,table,th,td,form,fieldset,legend,input,textarea,button,select,svg,i {margin:0;padding:0;box-sizing:border-box;}
img,fieldset{border:0}
em,address,i{font-style:normal;}
table{border-collapse:collapse;}
ul li, 
ol li {
  list-style:none;
}
