body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
img,fieldset{border:0}
em,address,i{font-style:normal;}
a{text-decoration:none;}
table{border-collapse:collapse;}
ul li, 
ol li {
  list-style:none;
}
button {
  border:none;
  background:transparent;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.skip-nav {
  display: none;
}
.blind {
  position:absolute;
  top:-99999px;
  left:-9999px;
  opacity:0;
  text-indent:-9999px;
}
